In [5]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [3]:
URL = "https://irineuimoveis.com.br/imoveis/page/"
pages = 1
URL_SUFIX ="/?_offer_type=rent&_property_type%5B0%5D=apartamento&_cidade&_price_min=R%24%2010&_price_max=R%24%2020000000&_dormitorios&_vagas_de_garagem"

In [7]:
r = requests.get("https://irineuimoveis.com.br/imoveis/page/3/?_offer_type=rent&_property_type%5B0%5D=apartamento&_cidade&_price_min=R%24%2010&_price_max=R%24%2020000000&_dormitorios&_vagas_de_garagem")

In [57]:
r = requests.get("https://irineuimoveis.com.br/imoveis/page/3/?_offer_type=rent&_property_type%5B0%5D=apartamento&_cidade&_price_min=R%24%2010&_price_max=R%24%2020000000&_dormitorios&_vagas_de_garagem")
soup = BeautifulSoup( r.content, "html5lib")
listing_divs = soup.select('div[class*=listing-item]')

In [58]:
len(listing_divs)

7

In [69]:
listing_divs[0].select("span[class*=listing-price]")[0].text

'R$700  mensal '

In [70]:
listing_divs[0].select("h4")[0].text

'Apartamento em Nova Brasília – IR3644'

In [34]:

imagem

[]

In [77]:
r = requests.get("https://irineuimoveis.com.br/imoveis/page/3/?_offer_type=rent&_property_type%5B0%5D=apartamento&_cidade&_price_min=R%24%2010&_price_max=R%24%2020000000&_dormitorios&_vagas_de_garagem")
soup = BeautifulSoup( r.content, "html5lib")
list_houses = soup.select('div[class*=listing-item]')

all_houses = []

def parse_data(list_houses):
    for idx in range(len(list_houses)):
        one_house = []
        current = list_houses[idx]
        preco = current.select("span[class*=listing-price]")[0].text
        
        tipo_bairro =  current.select("h4")[0].text
        tb = tipo_bairro.split('em')
        tipo = tb[0]
        bairro = tb[1]
        
        one_house.append(preco)
        one_house.append(tipo)
        one_house.append(bairro)
        
        all_houses.append(one_house) 
    
parse_data(list_houses)
all_houses

[['R$700  mensal ', 'Apartamento ', ' Nova Brasília – IR3644'],
 ['R$1.000  mensal ', 'Apartamento ', ' Itaum – IR1600'],
 ['R$2.000  mensal ', 'Apartamento ', ' Guanabara – IR4274'],
 ['R$650  mensal ', 'Apartamento ', ' Guanabara – IR153'],
 ['R$1.500  mensal ', 'Apartamento ', ' Jardim Sofia – IR3982'],
 ['R$800  mensal ', 'Apartamento ', ' Costa e Silva – IR3921'],
 ['R$600  mensal ', 'Apartamento ', ' Paranaguamirim – IR745']]

In [64]:
all_houses

[['R$600  mensal ']]

In [68]:
pd.DataFrame(all_houses, columns=['preço'])

              preço
0    R$700  mensal
1  R$1.000  mensal
2  R$2.000  mensal
3    R$650  mensal
4  R$1.500  mensal
5    R$800  mensal
6    R$600  mensal